<body>
  <div class="container">
    <header>
      <nav id="navbar" (scroll)="onScroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
        <ul [ngClass]="listfixed?'lifixed':'linofixed'">
          <li id="logo"><a><img src="assets/imgs/navlogo.jpg" width="130px" height="auto"></a></li>
          <li><a href="">HOME</a></li>
          <li><a href="">TASKFORCE</a></li>
          <li><a href="">GUIDES</a></li>
          <li><a href="">OTHER</a></li>
        </ul>
      </nav>  
    </header>
  </div>
</body>


