#wall {
    width: 100%;
    height: auto;
}

.container{
    padding-top: 2vw;
}

h3 {
    font-weight: bold;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    font-size: 3vw;
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 }