<body>
    <img id="wall" src="assets/imgs/main.jpg">
    <div class="grid-container">
        <div class="grid-item">
            <div class="container">
                <h3><span>TASKFORCE</span></h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <div class="box">
                  <h2>Column 1</h2>
                  <p>Some text..</p>
                </div>
                <div class="box">
                  <h2>Column 2</h2>
                  <p>Some text..</p>
                  <p>Some text..</p>
                  <p>Some text..</p>
                  <p>Some text..</p>
                </div>
                <div class="box">
                  <h2>Column 3</h2>
                  <p>Some text..</p>
                </div>
              </div>
        </div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
    </div> 
</body>